.policy{
    display: flex;
    align-items: center;
    padding-top: 80px;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-bottom: 300px;
    margin-top: 200px;
}
.line2{
    border-radius: 20px;
    height: 3px;
    border: 3px solid blue;
    width: 21%; 
}
.title{
    font-size: 30px;
    width: 600px;
}
.first{
    padding-right: 285px;
    font-size: 30px;
    width: 700px;
    font-weight: 900;
}

.photo{
    width: 300px;
    height: 200px; 
    border-radius: 50% / 25%; 
    object-fit: cover; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: 2px solid #ddd;
    transition: transform 0.3s ease;
}
.photo:hover{
    transform: scale(1.5);
}
.main1{
    text-align:left;
    width:100%;
    margin-left:130px;
    letter-spacing: 1px;
    margin-top: 40px;
}
.menu{
    text-align:left;
    display:flex;
    flex-direction:column;
    }
.menu li::before{
    content: "▢ ";
    left: 0;
}