.Head-section {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  gap: 100px;
}

.text-service-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-top: 30px;
}
.seconde-head {
  padding-top: 250px;
}
.last-section {
  padding-top: 250px;
  display: flex;
  width: 73%;
  justify-content: center;
  margin: auto;
  gap: 50px;
}
.subtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
img{
  background-color: #00041a;
}