.active {
  background-color: #1d4ed8;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00041a;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  margin: auto;
  position: fixed;
  z-index: 999;
}

nav .title {
  font-size: 40px;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

span {
  color: #3921f5;
}

nav ul li {
  font-size: 15px;
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 25px;
  transition: 0.5s;
}

nav ul li a:not(.active):hover {
  background-color: #172554;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}
nav .logo {
  color: white;
  padding-right: 70px;
}

@media (max-width: 480px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    z-index: 999;
  }

  nav ul {
    display: none;
    flex-direction: column;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
  nav .logo {
    position: absolute;
    left: 30px;
  }
}
