body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: linear-gradient(#2a00b7, #42006c);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
  width: 600px;
  background: #fff;
  padding-bottom: 30px;
  border-radius: 33px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}
.text {
  color: #3c009d;
  font-size: 48px;
  font-weight: 700;
}
.underline {
  width: 61px;
  height: 6px;
  background: #3c009d;
  border-radius: 9px;
}
.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 400px;
  height: 80px;
  background: #eaeaea;
  border-radius: 6px;
}
.input img {
  margin: 0px 30px;
}
.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}
.forget-password span {
  margin-top: 27px;
  color: #4c00b4;
  cursor: pointer;
  font-size: 18px;
}
.submit_container {
  display: flex;
  gap: 30px;
  margin: 60px auto;
}
.submit {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.submit:hover {
  background-color: #4c00b4;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.submit:active {
  transform: translateY(-1px);
}
